# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#file in at the path 'src/hoc/Aux.js' with just wrapping Higher order Component
/src/hoc/Aux.js